.input-field {
    margin-top: 20px;
}


.background-image {
    background-image: url("img/Salat.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
