.input-field {
    max-width: 300px;
    margin: 10px auto; /* Auto-Margin für Zentrierung horizontal */
    padding: 20px;
    display: block; /* Element als Block-Element behandeln */
}


.background-image {
    background-image: url("img/Salat.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
